In [1]:
import numpy as np
import pandas as pd

In [2]:
raw_data={'name':['kevin','sally','hoyeon','lux'],
          'height':[178.2,162.9,160.6,156.2],
          'gender':['male','female','female',None]}
pd_data=pd.DataFrame(raw_data)
pd_data.head()

     name  height  gender
0   kevin   178.2    male
1   sally   162.9  female
2  hoyeon   160.6  female
3     lux   156.2    None

In [3]:
filtered_data=pd_data.dropna()
filtered_data.head()

     name  height  gender
0   kevin   178.2    male
1   sally   162.9  female
2  hoyeon   160.6  female

In [4]:
del(filtered_data['name'])
filtered_data.head()

   height  gender
0   178.2    male
1   162.9  female
2   160.6  female

In [6]:
## female의 키의 평균
female_mean = np.average(filtered_data[filtered_data['gender'] == 'female']['height'].values)
print('female_mean :', female_mean)

## male의 키의 평균
male_mean = np.average(filtered_data[filtered_data['gender'] == 'male']['height'].values)
print('male_mean :', male_mean)

female_mean : 161.75
male_mean : 178.2

In [7]:
np.random.seed(0)
variance = 3
female_heights = variance*np.random.randn(200) + female_mean
#print('female_heights :', female_heights)

male_heights = variance*np.random.randn(200) + male_mean
#print('male_heights :', male_heights)

print('female_heights.shape :', female_heights.shape)
print('female_heights[:10] :', female_heights[:10])

female_heights.shape : (200,)
female_heights[:10] : [167.04215704 162.95047163 164.68621395 168.4726796  167.35267397
 158.81816636 164.60026525 161.29592838 161.44034344 162.98179551]

In [8]:
generated_data = {
  'gender' : ['female'] * 200 + ['male'] * 200,
  'height' : list(female_heights) + list(male_heights)
}

filtered_data = filtered_data.append(pd.DataFrame(generated_data), ignore_index=True)
# print(filtered_data)
filtered_data.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:7123: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

   gender      height
0    male  178.200000
1  female  162.900000
2  female  160.600000
3  female  167.042157
4  female  162.950472

In [9]:
filtered_data.shape

(403, 2)